aiohttp==3.7.2
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.2.0
babelfish==0.5.5
beautifulsoup4==4.9.3
bs4==0.0.1
chardet==3.0.4
guessit==3.1.1
humanfriendly==8.2
idna==2.10
multidict==5.0.0
pydantic==1.7.4
python-dateutil==2.8.1
rebulk==2.0.1
six==1.15.0
soupsieve==2.0.1
tabulate==0.8.7
typing-extensions==3.7.4.3
yarl==1.6.2
